* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  background-color: #fff;
  width: 850px;
  height: 550px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;

}

.form-box-login {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}
.form-box-register {
  position: absolute;
  left: 0%;
  height: 100%;
  width: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}
form {
  width: 100%;
}

.container h1 {
  font-size: 36px;
  margin: 10px 0;
}

.input-box {
  position: relative;
  margin: 30px 0px;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  font-size: 20px;
  color: #333;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.forgot-link {
  margin: -15px 0 15px;
}

.forgot-link a {
  font-size: 14.5px;
  color: #7886C7;
  text-decoration: none;
}

.btn {
  width: 100%;
  height: 48px;
  background-color: #99BC85;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.container p {
  font-size: 14.5px;
  margin: 15px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin: 0 8px;
}
.shift {
  margin-top: 30px;
  font-size: 14.5px;
}
.shift a {
  text-decoration: none;
  color: #7886C7;
}
