<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Reel-Fetch</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <span class="logo-text"><a href="{{ url_for('views.index') }}">Reel-Fetch</a></span>
            </div>
            <div class="hamburger" onclick="toggleMenu()">
                &#9776;
            </div>
            <ul class="nav-middle" id="navMenu">
                <li><a href="#">Platforms</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="nav-right" id="navBtns">
                <button class="login-btn"><a href="{{ url_for('views.login') }}">Login</a></button>
                <button class="create-btn"><a href="{{ url_for('views.login', mode='register') }}">Create account</a></button>
            </div>
        </nav>
        </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>